.btn-area {
	display: flex;
	gap: var(--spacer-2);
	/* ボタン間の隙間 */
	width: 100%;
}

.btn-area .my-btn-primary,
.btn-area .my-btn-secondary {
	flex: 1;
	/* 均等幅 */
	text-align: center;
	/* a要素にも中央寄せ */
}