<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="admin-header(title, extraHead)">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="_csrf" th:content="${_csrf.token}" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />
	<meta name="_csrf_parameter" th:content="${_csrf.parameterName}" />
	<meta name="page-token" th:content="${pageToken}">
	<title th:text="${title}">Admin</title>
	<!-- 画面アイコン -->
	<link rel="icon" th:href="@{/img/png/setting.png}">
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<!-- 自作共通CSS -->
	<link rel="stylesheet" media="all" th:href="@{/psfm/css/common/common.css}">
	<link rel="stylesheet" media="all" th:href="@{/psfm/css/common/var.css}">
	<link rel="stylesheet" media="all" th:href="@{/css/common/var.css}">
	<link rel="stylesheet" media="all" th:href="@{/psfm/css/fragment/navbar.css}">
	<link rel="stylesheet" media="all" th:href="@{/psfm/css/fragment/offcanvas.css}">
	<link rel="stylesheet" media="all" th:href="@{/psfm/css/fragment/modal.css}">
	<link rel="stylesheet" media="all" th:href="@{/psfm/css/fragment/buttons.css}">
	<link rel="stylesheet" media="all" th:href="@{/psfm/css/fragment/footer.css}">
	<!-- 自作個別js -->
	<!-- ここに「置換用の挿入口」を用意 -->
	<th:block th:replace="${extraHead}"></th:block>
	<th:block th:replace="~{common/props :: prop-keys}"></th:block>
</head>

<body>
</body>

</html>