<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{admin/common :: admin-header('管理者_苦手分析設定画面', ~{::extraHead})}">
	<th:block th:fragment="extraHead">
		<link rel="stylesheet" media="all" th:href="@{/css/main-contents/admin/weakness/setting.css}">
		<link rel="stylesheet" media="all" th:href="@{/psfm/css/fragment/breadcrump.css}">
		<link rel="stylesheet" media="all" th:href="@{/psfm/css/fragment/table.css}">
		<link rel="stylesheet" media="all" th:href="@{/psfm/css/fragment/buttons.css}">
		<!-- ページネーションCSSを追加 -->
		<link rel="stylesheet" media="all" th:href="@{/psfm/css/fragment/pagination.css}">
		<script type="module" th:src="@{/js/main-contents/admin/weakness/setting/controller.js}"></script>
	</th:block>
</head>

<body class="my-items-center-body">
	<div th:replace="~{admin/navbar :: admin-navbar}"></div>

	<main class="my-container">
		<div class="my-breadcrump-simple">
			<nav>
				<ol>
					<li><a th:href="@{/admin}">ホーム</a></li>
					<li>苦手分析データ閲覧</li>
				</ol>
			</nav>
		</div>

		<div class="table-area">
			<div class="my-table">
				<table>
					<thead>
						<tr>
							<th>データベースID</th>
							<th>画面表示用ID</th>
							<th>ユーザ名</th>
							<th>参考書名</th>
							<th>章</th>
							<th>問題NO</th>
							<th>解答回数</th>
							<th>正解数</th>
							<th>誤答数</th>
							<th>正答率</th>
							<th>最終解答日時</th>
							<th>最終解答選択肢</th>
							<th>最終解答時正誤</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="we : ${weaknessViewDtoList}">
							<td th:text="${we.id}">データベースID</td>
							<td th:text="${we.viewId}">画面表示用ID</td>
							<td th:text="${we.usersViewDto.username}">ユーザ名</td>
							<td th:text="${we.sankouBooksViewDto.name}">参考書名</td>
							<td th:text="${we.chapterViewDto.no + '章 ' + we.chapterViewDto.name}">章</td>
							<td th:text="${we.questionsViewDto.questionNo}">問題NO</td>
							<td th:text="${we.totalAttempts}">解答回数</td>
							<td th:text="${we.correctCount}">正解数</td>
							<td th:text="${we.wrongCount}">誤答数</td>
							<td th:text="${we.correctRate}">正答率</td>
							<td th:text="${we.lastAnsweredAt}">最終解答日時</td>
							<td th:text="${we.lastSelectedOption}">最終解答選択肢</td>
							<td th:text="${we.lastIsCorrect}">最終解答時正誤</td>
						</tr>
					</tbody>
				</table>
			</div>

			<!-- ページネーション -->
			<nav class="my-pagination" id="weakness-pagination" aria-label="苦手分析 ページ移動">
				<ul></ul>
			</nav>
		</div>
	</main>
	<!-- browser-guard -->
	<div th:replace="~{admin/browser-guard :: admin-browser-guard}"></div>
	<!-- footer -->
	<div th:replace="~{admin/footer :: admin-footer}"></div>
</body>

</html>
