<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<!-- head要素ここから -->

<head th:replace="~{user/common :: user-header('黒本問題集画面', ~{::extraHead})}">
	<!-- ページ固有の情報をheaderに追加 -->
	<th:block th:fragment="extraHead">
		<!-- 自作個別css -->
		<link rel="stylesheet" media="all" th:href="@{/css/fragment/colorTheme.css}">
		<link rel="stylesheet" media="all" th:href="@{/psfm/css/fragment/breadcrump.css}">
		<link rel="stylesheet" media="all" th:href="@{/psfm/css/fragment/alert.css}">
		<link rel="stylesheet" media="all" th:href="@{/psfm/css/fragment/rowCols.css}">
		<link rel="stylesheet" media="all" th:href="@{/psfm/css/fragment/card.css}">
		<!-- 自作個別js -->
		<script type="module" th:src="@{/js/main-contents/user/sankouBooks/controller.js}"></script>
	</th:block>
</head>
<!-- head要素ここまで -->
<!-- body要素ここから -->

<body class="my-items-center-body">
	<!-- navbar -->
	<div th:replace="~{user/navbar :: user-navbar}"></div>
	<!-- main-contents -->
	<main class="my-container">
		<!-- breadcrump -->
		<div class="my-breadcrump-simple">
			<nav>
				<ol>
					<li><a th:href="@{/user}">ホーム</a></li>
					<li>黒本問題集</li>
				</ol>
			</nav>
		</div>
		<!-- card -->
		<div class="card-area">
			<div class="my-row-cols-responsive-max-4">
				<div class="my-card" th:each="book : ${sankouBooksViewDtoList}">
					<!-- 色帯（Enum由来テーマを付与） -->
					<div class="my-card-img-top" th:classappend="${' ' + book.color.themeClass}"></div>

					<div class="my-card-body">
						<!-- タイトルに name -->
						<div class="my-card-title" th:text="${book.name}">参考書名</div>
						<p th:text="${'Java資格勉強用の参考書『' + book.name + '』で勉強できます。'}">
							Java資格勉強用の参考書で勉強できます。
						</p>
					</div>
					<div class="my-card-footer">
						<a class="my-btn-primary"
							th:href="@{/user/sankouBooks/{book_view_id}(book_view_id=${book.viewId})}">
							章選択画面へ
						</a>
						<a class="my-btn-success"
							th:href="@{/user/sankouBooks/{book_view_id}/weakness(book_view_id=${book.viewId})}">
							苦手分析画面へ
						</a>
					</div>
				</div>
			</div>
		</div>
	</main>
	
	<!-- browser-guard -->
	<div th:replace="~{user/browser-guard :: user-browser-guard}"></div>
	<!-- footer -->
	<div th:replace="~{user/footer :: user-footer}"></div>
</body>
<!-- body要素ここまで -->

</html>
